
body {
    background-color: rgb(36,36,36);
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: #820ad1;
    padding: 1em;
    border-radius: 10px;
    width: 15em;
    height: 25em;
    box-shadow: 5px 8px 8px #000;
}

.img-1{
 width: 30%;
 background-image: url('https://raw.githubusercontent.com/Gutoneitzke/card-nubank-animated/main/mastercard_logo.png');
}



 /* Display Flex -> alinha os elementos
Flex- direction -> qual a direção 
Box -shadow -> sombreamento */